.scrollToExperience__arrow {
  display: flex;
}

.scrollToExperience__arrow_small, .scrollToExperience__arrow_extraSmall {
  display: none;
}

.myFullName {
  font-size: 12.5rem;
  color: white;
  font-family: BelyDisplayW00-Regular;
  font-weight: var(--fontWeightRegular);
  line-height: 16.5rem;
  z-index: 100;
  position: relative;
  display: flex;
}

.myFullName_mobile {
  display: none;
  font-size: 12.5rem;
  color: white;
  font-family: BelyDisplayW00-Regular;
  font-weight: var(--fontWeightRegular);
  line-height: 16.5rem;
  z-index: 100;
  position: relative;
}

.headerFull {
  margin: 0rem 15rem;
  height: 100%;
}

.openingAndClosingTag {
  font-size: 2.5rem;
  color: white;
  font-weight: var(--fontWeightMedium);
  letter-spacing: .5rem;
  margin-top: 22.5rem;
}

.openingAndClosingTag::before {
  content: "<";
  color: #4F3EF5;
  margin-right: 1rem;
}

.openingAndClosingTag::after {
  content: "/>";
  color: #4F3EF5;
  margin-left: 1rem;
}

.imageOfMe1920, .imageOfMe1680, .imageOfMe1440_1280, .imageOfMe1024 {
  position: absolute;
  z-index: 0;
  right: 0;
  top: 21.5%;
}

.imageOfMe1680, .imageOfMe1440_1280, .imageOfMe1024, .imageOfMe768, .imageOfMe414, .imageOfMe375, .imageOfMe320 {
  display: none;
  background-color: #1c1c29;
}

.experience__header_full {
  display: flex;
  align-content: center;
  margin-top: 12.5rem;
}

.experience__header_text {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: BelyDisplayW00-Regular;
  font-size: 3.5rem;
  margin-right: 5rem;
}

@media (max-width: 1680px) {
  .imageOfMe1920, .imageOfMe1440_1280, .imageOfMe1024, .imageOfMe768, .imageOfMe414, .imageOfMe375, .imageOfMe320 {
    display: none;
  }
  .imageOfMe1680 {
    display: flex;
  }
  .openingAndClosingTag {
    margin-top: 17.5rem;
  }
  .experience__header_full {
    margin-top: 7.5rem;
  }
  .imageOfMe1680 {
    top: 29%;
  }
}

@media (max-width: 1440px) {
  .imageOfMe1920, .imageOfMe1680, .imageOfMe1024, .imageOfMe768, .imageOfMe414, .imageOfMe375, .imageOfMe320 {
    display: none;
  }
  .imageOfMe1440_1280 {
    display: flex;
  }
  .experience__header_full {
    margin-top: 20rem;
  }
  .imageOfMe1440_1280 {
    top: 25%;
  }
}

@media (max-width: 1366px) {
  .openingAndClosingTag {
    margin-top: 7.5rem;
  }
  .myFullName {
    font-size: 10rem;
    line-height: 12.5rem;
  }
  .experience__header_full {
    margin-top: 10rem;
  }
}

@media (max-width: 1280px) {
  .imageOfMe1920, .imageOfMe1680, .imageOfMe1024, .imageOfMe768, .imageOfMe414, .imageOfMe375, .imageOfMe320 {
    display: none;
  }
  .imageOfMe1440_1280 {
    display: flex;
  }
  .openingAndClosingTag {
    margin-top: 12.5rem;
  }
  .myFullName {
    font-size: 10rem;
    line-height: 12.5rem;
  }
  .experience__header_text {
    font-size: 3rem;
    margin-right: 3rem;
  }
  .imageOfMe1440_1280 {
    top: 22.5%;
  }
  .experience__header_full {
    margin-top: 12.5rem;
  }
  .scrollToExperience__arrow, .scrollToExperience__arrow_extraSmall {
    display: none;
  }
  .scrollToExperience__arrow_small {
    display: flex;
  }
}

@media (max-width: 1024px) {
  .imageOfMe1920, .imageOfMe1680, .imageOfMe1440_1280, .imageOfMe768, .imageOfMe414, .imageOfMe375, .imageOfMe320 {
    display: none;
  }
  .imageOfMe1024 {
    display: flex;
  }
  .headerFull {
    margin: 0rem 10rem;
    display: flex;
    flex-direction: column;
  }
  .imageOfMe1024 {
    position: relative;
    right: auto;
    top: auto;
  }
  .openingAndClosingTag {
    margin: 9rem 0rem 1rem 0rem;
  }
  .myFullName {
    margin-bottom: 5.5rem;
  }
  .experience__header_full {
    margin-top: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .experience__header_text {
    margin: 0rem 0rem 2rem 0rem;
  }
}

@media (max-width: 1000px) {
  .myFullName {
    font-size: 8rem;
    line-height: 10rem;
  }
}

@media (max-width: 848px) {
  .myFullName {
    font-size: 6.5rem;
    line-height: 8rem;
  }
  .openingAndClosingTag {
    font-size: 2rem;
    margin: 7.5rem 0rem 1rem 0rem;
    letter-spacing: .25rem;
  }
}

@media (max-width: 768px) {
  .imageOfMe1920, .imageOfMe1680, .imageOfMe1440_1280, .imageOfMe1024, .imageOfMe414, .imageOfMe375, .imageOfMe320 {
    display: none;
  }
  .imageOfMe768 {
    display: flex;
  }
  .headerFull {
    margin: 0rem 7.5rem;
  }
  .openingAndClosingTag {
    margin: 7.5rem 0rem 1rem 0rem;
    font-weight: 600;
    font-size: 1.75rem;
  }
  .myFullName {
    font-size: 7.5rem;
    line-height: 10rem;
    margin-bottom: 6.3rem;
  }
}

@media (max-width: 754px) {
  .myFullName {
    font-size: 5rem;
    line-height: 7.5rem;
    margin-bottom: 5rem;
  }
  .openingAndClosingTag {
    font-size: 1.5rem;
    letter-spacing: .35rem;
  }
}

/* Voor grote telefonen met 414px */

@media (max-width: 500px) {
  .myFullName {
    display: none;
  }
  .imageOfMe1920, .imageOfMe1680, .imageOfMe1440_1280, .imageOfMe1024, .imageOfMe768, .imageOfMe375, .imageOfMe320 {
    display: none;
  }
  .imageOfMe414 {
    margin-top: 5vh;
    display: flex;
  }
  .openingAndClosingTag {
    font-size: 1.5rem;
    margin-top: 12vh;
    letter-spacing: 0.15rem;
  }
  .myFullName_mobile {
    font-size: 5rem;
    line-height: 6rem;
    display: flex;
  }
  .headerFull {
    margin: 0rem 3rem;
  }
  .experience__header_text {
    margin: 0rem 0rem 3rem 0rem;
    font-size: 2.5rem;
  }
  .experience__header_full {
    height: 100%;
    justify-content: center;
    margin: 0rem;
  }
}

/* for smaller (height) phones with the width of 414px */

@media (max-width: 414px) and (max-height: 825px) {
  .openingAndClosingTag {
    margin-top: 5vh;
  }
  .imageOfMe414 {
    margin-top: 3rem;
  }
}

/* for smaller (height) phones with the width of 414px */

@media (max-width: 414px) and (max-height: 750px) {
  .experience__header_text {
    margin: 0rem 0rem 1.5rem 0rem;
  }
}

@media (max-width: 375px) {
  .imageOfMe1920, .imageOfMe1680, .imageOfMe1440_1280, .imageOfMe1024, .imageOfMe768, .imageOfMe414, .imageOfMe320 {
    display: none;
  }
  .imageOfMe375 {
    display: flex;
  }
  .openingAndClosingTag {
    margin-top: 5rem;
  }
  .imageOfMe375 {
    margin-top: 3rem;
  }
  .experience__header_text {
    margin: 0rem 0rem 3rem 0rem;
    font-size: 2.25rem;
  }
  .scrollToExperience__arrow, .scrollToExperience__arrow_small {
    display: none;
  }
  .scrollToExperience__arrow_extraSmall {
    display: flex;
  }
}

/* iphone X */

@media (max-width: 375px) and (min-height: 750px) {
  .openingAndClosingTag {
    margin-top: 12.5rem;
  }
}

/* for smaller (height) phones with the width of 375px */

@media (max-width: 375px) and (max-height: 650px) {
  .openingAndClosingTag {
    margin-top: 3rem;
  }
}

@media (max-width: 320px) {
  .imageOfMe1920, .imageOfMe1680, .imageOfMe1440_1280, .imageOfMe1024, .imageOfMe768, .imageOfMe414, .imageOfMe375 {
    display: none;
  }
  .imageOfMe320 {
    display: flex;
  }
  .imageOfMe320 {
    margin-top: 3rem;
  }
  .openingAndClosingTag {
    margin-top: 5rem;
    font-size: 1.25rem;
  }
  .myFullName_mobile {
    font-size: 3.5rem;
    line-height: 4.25rem;
  }
}