.myFullName {
  font-size: 12.5rem;
  color: white;
  font-family: BelyDisplayW00-Regular;
  font-weight: var(--fontWeightRegular);
  line-height: 16.5rem;
  z-index: 100;
  position: relative;
}

.headerFull {
  margin: 0rem 15rem;
}

.openingAndClosingTag {
  font-size: 2.5rem;
  color: white;
  font-weight: var(--fontWeightMedium);
  letter-spacing: .5rem;
  margin-top: 22.5rem;
}

.openingAndClosingTag::before {
  content: "<";
  color: #4F3EF5;
  margin-right: 1rem;
}

.openingAndClosingTag::after {
  content: "/>";
  color: #4F3EF5;
  margin-left: 1rem;
}

.imageOfMe1920, .imageOfMe1680, .imageOfMe1440_1280, .imageOfMe1024 {
  position: absolute;
  z-index: 0;
  right: 0;
  top: 21.5%;
}

.imageOfMe1680, .imageOfMe1440_1280, .imageOfMe1024, .imageOfMe768, .imageOfMe428, .imageOfMe414, .imageOfMe375, .imageOfMe320 {
  display: none;
  background-color: #1c1c29;
}

.experience__header_full {
  display: flex;
  align-content: center;
  margin-top: 12.5rem;
}

.experience__header_text {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: BelyDisplayW00-Regular;
  font-size: 3.5rem;
  margin-right: 5rem;
}

@media (max-width: 1680px) {
  .imageOfMe1920, .imageOfMe1440_1280, .imageOfMe1024, .imageOfMe768, .imageOfMe428, .imageOfMe414, .imageOfMe375, .imageOfMe320 {
    display: none;
  }
  .imageOfMe1680 {
    display: flex;
  }
  .openingAndClosingTag {
    margin-top: 17.5rem;
  }
  .experience__header_full {
    margin-top: 7.5rem;
  }
  .imageOfMe1680 {
    top: 29%;
  }
}

@media (max-width: 1440px) {
  .imageOfMe1920, .imageOfMe1680, .imageOfMe1024, .imageOfMe768, .imageOfMe428, .imageOfMe414, .imageOfMe375, .imageOfMe320 {
    display: none;
  }
  .imageOfMe1440_1280 {
    display: flex;
  }
  .experience__header_full {
    margin-top: 20rem;
  }
  .imageOfMe1440_1280 {
    top: 25%;
  }
}

@media (max-width: 1280px) {
  .imageOfMe1920, .imageOfMe1680, .imageOfMe1024, .imageOfMe768, .imageOfMe428, .imageOfMe414, .imageOfMe375, .imageOfMe320 {
    display: none;
  }
  .imageOfMe1440_1280 {
    display: flex;
  }
  .openingAndClosingTag {
    margin-top: 12.5rem;
  }
  .myFullName {
    font-size: 10rem;
    line-height: 12.5rem;
  }
  .experience__header_text {
    font-size: 3rem;
    margin-right: 3rem;
  }
  .imageOfMe1440_1280 {
    top: 22.5%;
  }
  .experience__header_full {
    margin-top: 12.5rem;
  }
}

@media (max-width: 1024px) {
  .imageOfMe1920, .imageOfMe1680, .imageOfMe1440_1280, .imageOfMe768, .imageOfMe428, .imageOfMe414, .imageOfMe375, .imageOfMe320 {
    display: none;
  }
  .imageOfMe1024 {
    display: flex;
  }
  .headerFull {
    margin: 0rem 10rem;
    display: flex;
    flex-direction: column;
  }
  .imageOfMe1024 {
    position: relative;
    right: auto;
    top: auto;
  }
  .openingAndClosingTag {
    margin: 9rem 0rem 1rem 0rem;
  }
  .myFullName {
    margin-bottom: 5.5rem;
  }
  .experience__header_full {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .experience__header_text {
    margin: 0rem 0rem 2rem 0rem;
  }
}

@media (max-width: 768px) {
  .imageOfMe1920, .imageOfMe1680, .imageOfMe1440_1280, .imageOfMe1024, .imageOfMe428, .imageOfMe414, .imageOfMe375, .imageOfMe320 {
    display: none;
  }
  .imageOfMe768 {
    display: contents;
  }
}

@media (max-width: 428px) {
  .imageOfMe1920, .imageOfMe1680, .imageOfMe1440_1280, .imageOfMe1024, .imageOfMe768, .imageOfMe414, .imageOfMe375, .imageOfMe320 {
    display: none;
  }
  .imageOfMe428 {
    display: contents;
  }
}

@media (max-width: 414px) {
  .imageOfMe1920, .imageOfMe1680, .imageOfMe1440_1280, .imageOfMe1024, .imageOfMe768, .imageOfMe428, .imageOfMe375, .imageOfMe320 {
    display: none;
  }
  .imageOfMe414 {
    display: contents;
  }
}

@media (max-width: 375px) {
  .imageOfMe1920, .imageOfMe1680, .imageOfMe1440_1280, .imageOfMe1024, .imageOfMe768, .imageOfMe428, .imageOfMe414, .imageOfMe320 {
    display: none;
  }
  .imageOfMe375 {
    display: contents;
  }
}

@media (max-width: 320px) {
  .imageOfMe1920, .imageOfMe1680, .imageOfMe1440_1280, .imageOfMe1024, .imageOfMe768, .imageOfMe428, .imageOfMe414, .imageOfMe375 {
    display: none;
  }
  .imageOfMe320 {
    display: contents;
  }
}