.footerFull {
  color: var(--colorWhite);
  border-top: .1rem solid white;
  display: grid;
  grid-template-rows: auto 12.5rem;
  padding: 0rem 15rem;
}

.socials_full {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 35%;
}

.socials {
  display: flex;
  flex-direction: column;
}

.socials_title {
  font-weight: 900;
  padding-bottom: 3rem;
  font-size: 3rem;
}

.socials_text {
  font-weight: 300;
  padding-bottom: 3rem;
  font-size: 3rem;
}

.footerTitle_special {
  font-weight: 900;
  font-size: 4.5rem;
  padding-left: 1.5rem;
}

.footerTitle {
  font-size: 4.5rem;
  font-weight: 400;
}

.footerTitle::before {
  content: "";
  position: absolute;
  background-color: #4F3EF5;
  height: 0.3rem;
  width: 6.9rem;
  margin-top: 7.5rem;
}

.footerTitle_full {
  padding: 10rem 0rem 12.5rem 0rem;
  display: flex;
}

.getInTouch {
  font-family: Bely Display;
  font-size: 15rem;
  padding: 6rem 0rem 10rem 0rem
}

.getInTouch::before {
  content: "";
  position: absolute;
  background-color: #4F3EF5;
  height: 0.5rem;
  width: 29.5rem;
  margin-top: 18rem;
}

.arrow_full {
  position: absolute;
  margin-top: -45rem;
  margin-left: 94rem;
}

.arrow_full_text {
  transform: rotate( -57.22deg);
  position: absolute;
  font-weight: 600;
  font-size: 3rem;
  top: 7rem;
  right: -10rem;
}

.footerFull_down {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerFull_down_text {
  font-weight: 400;
  font-size: 3rem;
}

@media (max-width: 1680px) {
  .footerFull {
    grid-template-rows: auto 11.5rem;
  }
}

@media (max-width: 1440px) {
  .arrow_full {
    margin-left: 82rem;
  }
  .socials_full {
    width: 47%;
  }
  .getInTouch {
    padding: 6rem 0rem 9rem 0rem
  }
}

@media (max-width: 1280px) {
  .footerTitle {
    font-size: 3.5rem;
  }
  .footerTitle_special {
    font-size: 3.5rem;
  }
  .footerTitle_full {
    padding: 7.5rem 0rem 10rem 0rem;
  }
  .socials_title {
    padding-bottom: 3rem;
  }
  .socials_text {
    padding-bottom: 2rem;
    font-size: 2.5rem;
  }
  .getInTouch {
    font-size: 12.5rem;
    padding: 4rem 0rem 7rem 0rem;
  }
  .getInTouch::before {
    margin-top: 16rem;
  }
  .footerFull_down_text {
    font-size: 2.5rem;
  }
  .arrow_full_text {
    font-weight: 400;
  }
  .arrow_full {
    margin-top: -38rem;
    margin-left: 68rem;
  }
  .footerTitle::before {
    margin-top: 6.5rem;
  }
  .footerFull {
    padding: 0rem 12.5rem;
  }
}

@media (max-width: 1024px) {
  .footerTitle_full {
    padding: 10rem 0rem 10rem 0rem;
  }
  .socials_full {
    width: 73%;
  }
  .footerFull {
    padding: 0rem 10rem;
  }
  .arrow_full {
    margin-top: -44rem;
    margin-left: 61rem;
  }
  .getInTouch {
    padding: 8rem 0rem 14rem 0rem;
  }
}

@media (max-width: 996px) {
  .getInTouch {
    font-size: 10rem;
    padding: 7rem 0rem 12rem 0rem;
  }
  .getInTouch::before {
    margin-top: 14rem;
  }
  .arrow_full {
    margin-top: -42rem;
    margin-left: 58rem;
  }
}

@media (max-width: 837px) {
  .getInTouch {
    font-size: 8rem;
    padding: 5rem 0rem 10rem 0rem;
  }
  .getInTouch::before {
    margin-top: 11rem;
  }
  .arrow_full {
    margin-top: -36rem;
    margin-left: 41rem;
  }
}

@media (max-width: 768px) {
  .footerFull {
    padding: 0rem 7.5rem;
  }
  .footerTitle_full {
    padding: 7.5rem 0rem 9rem 0rem;
  }
  .socials_full {
    grid-template-columns: 1fr;
  }
  .socials {
    margin-top: 1rem;
  }
  .getInTouch {
    font-size: 7.5rem;
    padding: 5.5rem 0rem 10.5rem 0rem;
  }
  .getInTouch::before {
    margin-top: 12rem;
  }
  .footerFull_down_text {
    font-size: 2rem;
  }
  .arrow_full {
    margin-top: -37rem;
    margin-left: 35rem;
  }
  .arrow_full_text {
    top: 7rem;
  }
}

@media (max-width: 630px) {
  .getInTouch {
    font-size: 6.5rem;
    padding: 5rem 0rem 7.5rem 0rem;
  }
  .getInTouch::before {
    margin-top: 9rem;
    width: 25%;
  }
  .arrow_full {
    margin-top: -34rem;
    margin-left: 22rem;
  }
  .footerFull_down_text_extra {
    display: none;
  }
}

@media (max-width: 500px) {
  .footerFull {
    padding: 0rem 3rem;
    grid-template-rows: auto 7.5rem;
  }
  .footerTitle {
    display: none;
  }
  .footerTitle_special {
    font-size: 4.5rem;
    padding: 0rem;
  }
  .footerTitle_full {
    padding: 3.5rem 0rem 7rem 0rem;
  }
  .socials_text {
    font-size: 3rem;
  }
  .footerTitle_full::before {
    content: "";
    position: absolute;
    background-color: #4F3EF5;
    height: 0.3rem;
    width: 6.9rem;
    margin-top: 7.5rem;
  }
  .getInTouch {
    font-size: 5rem;
    padding: 7rem 0rem;
  }
  .getInTouch::before {
    height: 0.3rem;
    width: 11.9rem;
    margin-top: 8rem;
  }
  .arrow_full {
    margin-top: -30rem;
    margin-left: 12rem;
  }
}

@media (max-width: 414px) {
  .arrow_full {
    margin-top: -29rem;
    margin-left: 14rem;
    width: 35%;
  }
  .arrow_full_text {
    top: 5rem;
  }
}

@media (max-width: 375px) {
  .footerTitle_full {
    padding: 2.5rem 0rem 5rem 0rem;
  }
  .socials_full {
    width: 100%;
  }
  .socials_text {
    font-size: 2.5rem;
  }
  .socials_title {
    padding-bottom: 2rem;
  }
  .getInTouch {
    font-size: 4.25rem;
    padding: 5rem 0rem;
  }
  .arrow_full {
    margin-top: -24rem;
    margin-left: 11rem;
    transform: rotate(-15deg);
  }
  .socials_title {
    font-weight: 700;
  }
}

@media (max-width: 320px) {
  .footerFull {
    padding: 0rem 2rem;
  }
  .getInTouch {
    font-size: 4rem;
    padding: 2.5rem 0rem 4rem 0rem;
  }
  .getInTouch::before {
    width: 11rem;
    margin-top: 6rem;
  }
  .footerFull_down_text {
    font-size: 1.5rem;
  }
  .arrow_full {
    width: 30%;
    margin-top: -20rem;
    margin-left: 12rem;
  }
  .arrow_full_text {
    top: 4rem;
    font-size: 2.5rem;
    right: -8rem;
  }
}